<div class="hakuin-nav-flyout">
  {{#each children}}
    <div class="hakuin-nav-flyout__item">
      <a href="{{absoluteUrl path ../pagePath}}" class="hakuin-subnav__link">{{title}}</a>
      {{#if (hasContent children)}}
        <div class="hakuin-nav-flyout__item__content">
          {{#each children}}
            <div class="hakuin-nav-flyout__subitem">
              <a href="{{absoluteUrl path ../../pagePath}}{{# if anchor}}#{{anchor}}{{/if}}" class="hakuin-subnav__link">{{title}}</a>
              {{#if (hasContent children)}}
                <div class="hakuin-nav-flyout-list">
                  {{#each children}}
                    <div class="hakuin-nav-flyout-list__item">
                      <a href="{{absoluteUrl path ../../../../pagePath}}{{# if anchor}}#{{anchor}}{{/if}}" class="hakuin-subnav__link">{{title}}</a>
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
